<%%= form_for @<%= resource_name %>, :html => { :class => "form-horizontal <%= resource_name %>" } do |f| %>

    <%% if @<%= resource_name %>.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%%= pluralize(@<%= resource_name %>.errors.count, "error") %> prohibited this <%= resource_name %> from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <%% @<%= resource_name %>.errors.full_messages.each do |msg| %>
          <li><%%= msg %></li>
        <%% end %>
        </ul>
      </div>
    </div>
  <%% end %>

<%- columns.each do |column| -%>
  <div class="control-group">
    <%%= f.label :<%= column.name %>, :class => 'control-label' %>
    <div class="controls">
      <%%= f.<%= column.field_type %> :<%= column.name %>, :class => 'form-control' %>
    </div>
    <%%= error_span(@<%= resource_name %>[:<%= column.name %>]) %>
  </div>
  <%- end -%>


  <%%= f.submit nil, :class => 'btn btn-primary' %>
  <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            <%= controller_routing_path %>_path, :class => 'btn btn-default' %>

<%% end %>
