<% columns.each do |column| %>
    <%%= f.label :<%= column.name %>, t("activerecord.attributes.<%= model_name.underscore %>.<%= column.name %>", :default => "<%= column.name.humanize %>"), :class => :label %>
    <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
<%- end -%>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%%= link_to "Cancel", <%= controller_routing_path %>_path %>
</div>
