<%%= form_for @<%= model_name.underscore  %>, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%%= controller.action_name.capitalize %> <%= model_name.titleize %></legend>

    <%- columns.each do |column| -%>
    <div class="control-group">
      <%%= f.label :<%= column.name %>, :class => 'control-label' %>
      <div class="controls">
        <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
      </div>
    </div>

    <%- end -%>
    <div class="form-actions">
      <%%= f.submit nil, :class => 'btn btn-primary' %>
      <%%= link_to 'Cancel', <%= controller_routing_path %>_path, :class => 'btn' %>
    </div>
  </fieldset>
<%% end %>
