<%%= form_for @<%= resource_name %>, html: { class: "form #{form_class ||= 'form-horizontal'}" } do |f| %>
  <%- columns.each do |column| -%>
  <div class="control-group #{column.group_class ||= ''}">
    <%%= f.label :<%= column.name %>, class: "control-label #{column.label_class ||= ''}" %>
    <div class="controls #{column.controls_class  ||= ''}">
      <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
    </div>
    <%%= error_span(@<%= resource_name %>[<%= column.name.to_sym %>]) %>
  </div>
  <%- end -%>

  <div class="form-actions #{actions_class ||= ''}">
    <%%= f.submit nil, :class => "btn #{button_class || 'btn-primary'}" %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                <%= controller_routing_path %>_path, :class => 'btn' %>
  </div>
<%% end %>
