<%%= form_for @<%= resource_name %>, :html => { :class => "<%= resource_name %>" } do |f| %>

  <%% if @<%= resource_name %>.errors.any? %>
    <div class="alert alert-danger">
      <h5 class="alert-heading"><%%= pluralize(@<%= resource_name %>.errors.count, "error") %> prohibited this <%= resource_name %> from being saved:</h5>
      <hr>
      <ul class="mb-0">
      <%% @<%= resource_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<%- columns.each do |column| -%>
  <div class="mb-3">
    <%%= f.label :<%= column.name %>, :class => 'form-label' %>
    <%%= f.<%= column.field_type %> :<%= column.name %>, :class => 'form-control' %>
    <%%=f.error_span(:<%= column.name %>) %>
  </div>
  <%- end -%>

  <div class="mb-3">
    <%%= f.submit nil, :class => 'btn btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              <%= controller_routing_path %>_path, :class => 'btn btn-secondary' %>
  </div>

<%% end %>
