<% if @breadcrumbs.present? %>
  <ul class="breadcrumb <%= options[:class] %>">
    <% separator = divider.html_safe %>
    <% @breadcrumbs[0..-2].each do |crumb| %>
      <li class="<%= options[:item_class] %>">
        <%= link_to crumb[:name], crumb[:url], crumb[:options] %>
        <span class="divider <%= options[:divider_class] %>"><%= separator %></span>
      </li>
    <% end %>
    <li class="<%= options[:active_class] %>">
      <%= @breadcrumbs.last[:name] %>
    </li>
  </ul>
<% end %>
